## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml


## node
node_modules
dist

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# Kile
*.backup

# Github pages Mkdocs
/docs/site
/docs/aux

.vscode

# vite build
# ignore public since it is generated via the build command, might change if things are restrctured and files are in public as a default
public 